.main {
    position: relative;
    margin: 16px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    height: 100%;
}

.container {
    padding: 16px;
}

.header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    background: var(--background);
    z-index: 10;
    padding: 1rem;
}

.buttonContainer {
    display: flex;
    gap: 8px;
}

.title {
    font-size: 2rem;
}

.editorContainer {
    margin-top: 12px;
    flex: 1 1 auto;
    overflow: auto;
    width: 100%;
}

.inputContainer {
    margin: 1rem 0;
    display: flex;
    align-items: center;
}
.inputContainer p {
    margin-right: 1rem;
    width: 120px;
    text-align: right;
}

.editorContainer h2 {
    font-size: 1.5rem;
}

.editorContainer h3 {
    margin: 1rem 0 1rem 120px;
    font-size: 1.25rem;
}

.editorContainer hr {
    margin: 1rem 0;
    border: 1px solid var(--border);
}

.imageInputRow {
    display: flex;
    gap: 8px;
    align-items: center;
    width: 100%;
}

.inputHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon {
    font-size: 1.5rem;
}
